.processingMsg {
  overflow: hidden;

  & > svg {
    /* Spinner */
    float: left;
  }

  & > h3 {
    /* Processing Text */
    margin-left: 35px !important;
    line-height: 25px;
  }
}

.table {
  width: 50%;
  padding: 0 !important;
  margin-top: 20px !important;
}
